/* ============================================================ */
/* Style Tweaks */
/* ============================================================ */
html,
body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
	padding-top: 70px;
}

footer {
	padding: 30px 0;
}
a,
.transition-item{
	transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}

/* ============================================================ */
/* Off Canvas */
/* ============================================================ */
@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}

	.row-offcanvas-right {
		right: 0;
	}

	.row-offcanvas-left {
		left: 0;
	}

	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}

	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}

	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
}

.debugborder {
	outline: 1px solid red;
}

/* ============================================================ */
/* 2 Col */
/* ============================================================ */
.two-cols {
	-moz-column-count: 2;
	-moz-column-gap: 2rem;
	-webkit-column-count: 2;
	-webkit-column-gap: 2rem;
}


/* Umbruch 2 -> 1-spaltig */
@media screen and (max-width: 600px) {
	.two-cols {
		-moz-column-count: 1;
		-webkit-column-count: 1;
	}
}


/* ============================================================ */
/* Animation */
/* ============================================================ */
.wait-animation {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
